.weather-app-wrapper {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 500px;
  padding: 20px 10px;
  border-radius: 15px;
  background-image: linear-gradient(to top, #badefa 12%, #d1e0e6fd 50%);
}

 .search-button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}
i {
  color: #e9967a;
  height: 20px;
}

.form-search {
  border: 1px;
  border-radius: 4px;

}
.weather-unit {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 5px;
}
.local-city {
  font-family: "Open Sans Condensed", sans-serif;
  margin-top: 85px;
  margin-left: 2%;
  font-size: 65px;
  font-weight: 900;
  text-align: left;
  color: #3f3d56;
}
.forecastsection {
  font-family: "Open Sans Condensed", sans-serif;
  color: #3f3d56;
  padding: 20px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: left;
}

